$primary: #00c0eb;
$secondary: #ffd343;
$primary-two: #10849e;
$quaternary: #eb1747;
$text: #2d2d2d;
$primary-blur: #e5f9fd;
$extra: #1e5865;
$blocking: #a1a1a1;
$blocking-two: #c4c4c4;
$white: #fff;
