@import "general/typography";
.section {
    padding: 6em 0;
    @include s-responsive {
        padding: 3em 0;
    }
}

.header-section {
    text-align: center;
    &__title {
        @include h2;
        margin-bottom: 0.5em;
    }
    &__subtitle {
        @include h4--medium;
    }
    &__body {
        @include h4--medium;
        margin-top: 2em;
        text-align: left;
        margin-bottom: 2em;
    }
}